@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  font-weight: normal;
}

body {
  background-color: #dddddd91;
  font-family: 'Roboto', sans-serif;
  color: black;
  height: 100vh;
}
